.historia{
    display: flex;
    align-items: center;

 
}
.contenedor{ 
    box-sizing: border-box;
    

}
.historia p {
    font-size: 16px;
  padding-left: 1%;
    justify-content: center;
    text-align: justify;
    box-sizing: border-box;
 margin-right: 12px;
    
}

.personas {
    display: flex;
    justify-content: space-between;

}
.gl img{
    border: 1px solid rgb(226, 125, 100);
    border-radius: 5px;
    width: 180%;
    padding: 10px;
    background-color: rgba(255, 193, 170, 0.921);
    box-sizing: border-box;
}
.persona {
    border: 1px solid rgb(177, 206, 209);
    border-radius: 5px;
    width: 18%;
    text-align: center;
    padding: 13px;
    background-color: rgba(255, 209, 189, 0.544);
    box-sizing: border-box;

}

.persona img {
    border-radius: 60%;
    max-width: 60px;
    box-shadow: 0 0 5px rgb(242, 173, 64);

}

.persona h5,
.persona h6 {
    margin: 0;
    font-weight: normal;
    color: rgb(220, 72, 53);
}

.persona h5 {
    font-size: 14px;
    margin-top: 5px;

}

.persona h6 {
    font-size: 11px;
    font-style: italic;
}

.persona p {
    color: rgb(236, 80, 66);
    font-size: 10px;
}
