header {
    background-color: rgba(197, 41, 41, 0.337);
    padding: 16px 0;

}   
.header img.logo { 
    width: 300px; /* Ajusta el tamaño según tus necesidades */
      height: 200px; /* Ajusta el tamaño según tus necesidades */
      border-radius: 90%;
      overflow: hidden;

}

header h1 {

    color: rgb(234, 69, 69);
    font-size: 40px;
    font-weight: 80;
    font-style: italic;
    display: inline-block;
    position: relative;
    bottom: 35px;
    margin-left: 10px;

}

.holder {
    max-width: 960px;
    margin: 0 auto;
  
  } 